pixelify-sans-<uniquifier> {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body{
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}    


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
}
.Header{
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 25rem;
    height: 2rem;
}
.Header_img1 img{
    scale: 1.3;
}
.Header_text{
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    width: 15rem;
}
.Header_img2 img{
    scale: 1.3;
}
.List{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 42rem;
    width: 23rem;
    border-radius: 25px;
}
.Cat{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
}
.empty-cat {
    display: block;
    margin: 40px auto;
    width: 120px;
}
.add-btn {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  font-size: 32px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: #f3f3f3; /* a nice bright pink, or any color */
  
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: 'Pixelify Sans', sans-serif;
}
#add_img{
    width: 3rem;
    height: 3rem;
}
.add-btn:hover {
  transform: scale(1.1);
}
