pixelify-sans-<uniquifier> {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body{
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}    
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    height: 100%;
    width: 100%;
}
#content{
  font-family: "Pixelify Sans", sans-serif;
  height: 38rem;
  width: 23rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #454545;
  border: none ;
  border-radius: 25px;
  color: black;
  padding: 1rem;
  resize: true;
  outline: none;
  text-color: black;
}
h2{
    height:1rem;
}
#Finish{
    background-color: #454545;
    height: 4rem;
    width: 23rem;
    border: none;
    border-radius: 25px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    }
